@import "tailwindcss";

@theme {
  --font-geist: "Geist", system-ui, sans-serif;
  --font-geist-mono: "Geist Mono", monospace;
  
  --color-koncar-yellow: #FFD700;
  --color-koncar-yellow-light: #FFEB80;
  --color-koncar-yellow-dark: #E6C200;
}

@layer base {
  body {
    @apply antialiased;
    font-family: var(--font-geist);
  }
}
